* {
    box-sizing: border-box;
}

:root {
    --red: #CE1717;
    --black: #090A0A;
}

body {
    background-color: #FFF9E7;
}

.fill-red {
    fill: var(--red);
}

.fill-black {
    fill: var(--black);
}

/*
.item-1 svg path {
    fill: red;
}*/

/* Repeat 3 rows named "row", each between 120px and 1fr tall */

/* Repeat 4 columns named "col", each 1fr wide */

.grid-container {
    display: grid;
    grid-template: repeat(8, [row] 185px) / repeat(5, [col] 185px);
    grid-gap: 3px;
    justify-content: center;
    margin: 60px;
}

@media only screen and (max-width: 600px) {
    .grid-container {
        overflow-x: auto;
        margin: 50px;
    }
}

.item-1 {
    grid-column: col 3;
    grid-row: row 1;
}

.item-2 {
    grid-column: col 3;
    grid-row: row 3;
    align-self: center;
}

.item-3 {
    grid-column: col 3;
    grid-row: row 4;
    z-index: 1;
}

.item-4 {
    grid-column: col 3;
    grid-row: row 5;
}

.item-5 {
    grid-column: col 3;
    grid-row: row 3 / span 2;
    z-index: 2;
    align-self: center;
}

.item-6 {
    grid-column: col 3;
    grid-row: row 6;
}

.item-7 {
    grid-column: col 3;
    grid-row: row 3 / span 4;
    z-index: 2;
    align-self: center;
}

.item-8 {
    grid-column: col 3;
    grid-row: row 8;
}

.item-9 {
    grid-column: col 3;
    grid-row: row 3 / span 7;
    z-index: 2;
    align-self: center;

}

.item-10,
.item-20 {
    grid-column: col 2;
    grid-row: row 3 /span 7;
    z-index: 2;
    align-self: center;
}

.item-11,
.item-19 {
    grid-column: col 2;
    grid-row: row 3 /span 2;
    z-index: 2;
    align-self: center;
}

.item-12,
.item-18 {
    grid-column: col 2;
    grid-row: row 3 /span 4;
    z-index: 2;
    align-self: center;
}

.item-13 {
    grid-column: col 4;
    grid-row: row 3 /span 7;
    z-index: 2;
    align-self: center;
}

.item-14 {
    grid-column: col 4;
    grid-row: row 3 /span 2;
    z-index: 2;
    align-self: center;
}

.item-15 {
    grid-column: col 4;
    grid-row: row 3 /span 4;
    z-index: 2;
    align-self: center;
}

.item-16 {
    grid-column: col 3;
    grid-row: row 2;
}

.item-17 {
    grid-column: col 3;
    grid-row: row 7;
}

.item-21 {
    grid-column: col 1;
    grid-row: row 3 /span 7;
    align-self: center;
    margin-left: 135px;
}

.item-22 {
    grid-column: col 1;
    grid-row: row 3 /span 2;
    align-self: center;
    margin-left: 135px;
}

.item-23 {
    grid-column: col 1;
    grid-row: row 3 /span 4;
    align-self: center;
    margin-left: 135px;
}

.item-24 {
    grid-column: col 1;
    grid-row: row 1 /span 9;
    margin-left: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.item-25 {
    grid-column: col 4;
    grid-row: row 3 /span 2;
    align-self: center;
    justify-self: center;
    margin-left: 77px;
}

.item-26 {
    grid-column: col 4;
    grid-row: row 3 /span 4;
    align-self: center;
    justify-self: center;
    margin-left: 77px;
}

.item-27 {
    grid-column: col 4;
    grid-row: row 3 /span 7;
    align-self: center;
    justify-self: center;
    margin-left: 77px;
}

.item-28 {
    grid-column: col 5;
    grid-row: row 1 /span 9;
    margin-left: -29px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.item-29 {
    grid-column: col 1 / span 6;
    grid-row: row 4;
    align-self: center;
    margin-top: -8px;
    margin-left: 100px;
    z-index: 1;
}

.item-30 {
    grid-column: col 1 / span 6;
    grid-row: row 5;
    align-self: center;
    margin-top: -8px;
    margin-left: 100px;
}

.item-31 {
    grid-column: col 5;
    grid-row: row 3 /span 2;
    align-self: center;
    margin-left: -20px;
}

.item-32 {
    grid-column: col 5;
    grid-row: row 3 /span 4;
    align-self: center;
    margin-left: -20px;
}

.item-33 {
    grid-column: col 5;
    grid-row: row 3 /span 7;
    align-self: center;
    margin-left: -20px;
}

.item-34 {
    grid-column: col 3;
    grid-row: row 3;
    align-self: top;
    margin-top: 2px;
}

.item-35 {
    grid-column: col 3;
    grid-row: row 6;
    align-self: end;
    margin-bottom: 2px;
}

.item-36 {
    grid-column: col 4;
    grid-row: row 6;
    align-self: end;
    margin-bottom: 2px;
}

.item-37 {
    grid-column: col 4;
    grid-row: row 3;
    align-self: start;
    margin-top: 2px;
}

.item-38 {
    grid-column: col 1;
    grid-row: row 1;
    margin-left: 86px;
}

.item-39 {
    grid-column: col 1;
    grid-row: row 8;
    margin-left: 86px;
    align-self: end;
}

.item-40 {
    grid-column: col 5;
    grid-row: row 1;
    margin-left: -43px;
}

.item-41 {
    grid-column: col 5;
    grid-row: row 8;
    margin-left: 86px;
    align-self: end;
    margin-left: -43px;
}

.item-42 {
    grid-column: col 6;
    grid-row: row 4;
    align-self: end;
    margin-left: -3px;
    margin-bottom: 73px;
    z-index: 2;
}

.item-43 {
    grid-column: col 6;
    grid-row: row 5;
    align-self: end;
    margin-left: -3px;
    margin-bottom: 73px;
    z-index: 2;
}


.item-44 {
    grid-column: col 5;
    grid-row: row 3;
    align-self: start;
    margin-left: -20px;
    margin-top: 2px;
    z-index: 2;
}


.item-45 {
    grid-column: col 5;
    grid-row: row 7;
    align-self: start;
    margin-left: -20px;
    margin-top: -89px;
    z-index: 2;
}

.cls-3,
.cls-9,
.cls-12,
.cls-14 {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 18s linear forwards;
}


@keyframes dash {
    from {
        stroke-dashoffset: 1000;
    }
    to {
        stroke-dashoffset: 0;
    }
}
